<%= will_paginate @pessoas, :params => {:busca => params[:busca]},
   :previous_label => "Anterior", :next_label => "Próximo" %>

<table>
  <tr>
    <th>Nome</th>
    <th>Nascimento</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pessoas.each do |pessoa| %>
  <tr>
    <td><%= pessoa.nome %></td>
    <td><%= pessoa.nascimento %></td>
    <td><%= link_to 'Show', pessoa %></td>
    <td><%= link_to 'Edit', edit_pessoa_path(pessoa) %></td>
    <td><%= link_to 'Destroy', pessoa, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<script>
  $('.pagination a').attr('data-remote', 'true');
</script>

